* {
    margin: 0;
    padding: 0;
}

#app {
    padding: 20px;
    width: 600px;
    height: 800px;
    border: 1px solid black;
    box-sizing: border-box;
}

.top {
    display: flex;
}

.search {
    width: 366px;
    border-radius: 10px;
    text-indent: 10px;

    margin-left: 7px;
}

.save-button {
    height: 25px;
    width: 139px;
    background-color: #fff;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0px 5px;
    gap: 5px;
}

.course-box {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;

    padding: 5px;
    margin-top: 5px;
    height: 106px;
    gap: 10px;
}

.radio-box {
    margin-bottom: 7px;
    height: 19px;

    font-size: 16px;
}

.course-radio {
    appearance: none;

    border-radius: 50%;

    width: 10px;
    height: 10px;

    background: #7C75AB;
}

.course-radio:checked {
    background-color: #000;
    border: 2px solid #7C75AB;
}