* {
  margin: 0;
  padding: 0;
}

#app {
  padding: 12px 20px;
  width: 600px;
  height: auto;
  border: 1px solid black;
  box-sizing: border-box;

  justify-self: center;

  font-size: 16px;
  font-family: sans-serif;
}

.top {
  display: flex;
}

.top-search {
  width: 366px;
  text-indent: 10px;

  margin-left: 7px;
  padding-right: 5px;

  border: 1px solid #7c75ab;
  border-radius: 10px;
}

.save-button {
  height: 25px;
  width: 139px;
  background-color: #fff;

  border: 1px solid #7c75ab;
  border-radius: 5px;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0px 5px;
  gap: 5px;
}

.course-box {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;

  padding: 5px;
  margin-top: 5px;
  height: 106px;
  gap: 10px;
}

.radio-box {
  margin-bottom: 7px;
  height: 19px;
}

.course-radio {
  appearance: none;

  border-radius: 50%;
  margin-right: 5px;

  width: 10px;
  height: 10px;

  background: #7c75ab;
}

.course-radio:checked {
  background-color: #000;
  border: 2px solid #7c75ab;
}

.price-title {
  margin: 8px 0px 12px 0px;
  width: 100%;
}

.price-title img {
  margin-right: 8px;
}

.price-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 9px;
  margin-bottom: 25px;

  font-size: 12px;
  /* width: 100%; */
}
/*
input[type='range'] {
  width: 430px;
} */

.default-button {
  /* width: 43px; */
  height: 29px;
  padding: 5px;

  border: 0px;
  border-radius: 5px;

  font-size: 16px;
  color: white;
  background: #7C75AB;
}
.default-button:hover {
  /* scale: 1.1; */
  cursor: pointer;
}

.link {
  all: unset;
}
